# PPM Correction Configuration File
# Format: refresh_rate=ppm_value
# 
# Positive PPM values make the stream faster (reduces frame repeats)
# Negative PPM values make the stream slower
# Zero PPM value means no correction
#
# Examples:
# 60=5     # Make 60 Hz 5 PPM faster
# 59=5     # Make 59.94 Hz (rounds to 59) 5 PPM faster  
# 50=5     # Make 50 Hz 5 PPM faster
# 30=5     # Make 30 Hz 5 PPM faster
# 24=0     # No correction for 24 Hz (cinema)
# 23=0     # No correction for 23.976 Hz (cinema)

60=5
59=5  
50=5
30=5
25=2
24=0
23=0